
.hederText {
    animation: hederText 6s linear infinite;
    background-image: linear-gradient(45deg, #7028e4, #e5b2ca, #7028e4);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: t;
    color: transparent;
}
@keyframes hederText{
   0% {
    background-position:0;
   } 
   100% {
    background-position:200%;
   } 
}




.container {
    width: 50%;
    margin: auto;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination button {
    margin: 0 5px;
    padding: 10px 20px;
}


.web-dev:focus {
    color: white;
    background-color: rgb(199, 5, 134);
    
}

